.meal {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px grey;
}

li {
  padding-bottom: 10px;
  padding-top: 10px;
}

.name, .description, .price {
  text-align: left;
}

.name, .price {
  font-weight: bold;
}
.description {
  font-style: italic;
}

.price {
  color: #db4104;
}
